@model _19T1021201.DomainModels.Category
@{
    ViewBag.Title = "Xoá nhà loại hàng";
}

<div class="box box-danger">
    <div class="box-body">
        <div class="container">
            <form action="~/Category/Delete/@Model.CategoryID" method="post">
                <div class="form-group">
                    <label>Tên loại hàng:</label>
                    <p class="form-control-static">@Model.CategoryName</p>

                </div>

                <div class="form-group">
                    <label>Mô tả loại hàng:</label>
                    <p class="form-control-static">@Model.Description</p>

                </div>


                <div class="form-group">
                    <div>
                        @if (_19T1021201.BusinessLayers.CommonDataService.InUsedCategory(Model.CategoryID))
                        {
                            <button type="submit" class="btn btn-danger"> <i class="glyphicon glyphicon-trash"></i> Đồng ý xoá</button>
                        }
                        else
            {
                    <p class="form-control-static text text-danger">Không thể xoá loại hàng này</p>
            }
                        <a href="~/Category" class="btn btn-warning">Quay lại</a>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>

