
@{
    ViewBag.Title = "Xoá nhà loại hàng";
}

<div class="box box-danger">
    <div class="box-body">
        <div class="container">
            <form>
                <div class="form-group">
                    <label>Tên loại hàng:</label>
                    <p class="form-control-static">Điện thoại</p>

                </div>

                <div class="form-group">
                    <label>Mô tả loại hàng:</label>
                    <p class="form-control-static">Không phải là laptop</p>

                </div>


                <div class="form-group">
                    <div>
                        <button type="submit" class="btn btn-danger"> <i class="glyphicon glyphicon-trash"></i> Đồng ý xoá</button>
                        <a href="~/Category" class="btn btn-warning">Quay lại</a>
                    </div>

                </div>
            </form>
        </div>
        </div>
</div>

