@model _19T1021201.DomainModels.Shipper
@{
    ViewBag.Title = "Xoá người giao hàng";
}

<div class="box box-danger">
    <div class="box-body">
        <div class="container">
            <form action="~/Shipper/Delete/@Model.ShipperID" method="post">
                <div class="form-group">
                    <label>Tên người giao hàng:</label>
                    <p class="form-control-static">@Model.ShipperName</p>

                </div>

                <div class="form-group">
                    <label>Số điện thoại:</label>
                    <p class="form-control-static">@Model.Phone</p>

                </div>


                <div class="form-group">
                    <div>
                        @if (_19T1021201.BusinessLayers.CommonDataService.InUsedShipper(Model.ShipperID))
                        {
                            <button type="submit" class="btn btn-danger"> <i class="glyphicon glyphicon-trash"></i> Đồng ý xoá</button>
                        }
                        else
                        {
                            <p class="form-control-static text text-danger">Không thể xoá loại hàng này</p>
                        }
                        <a href="~/Shipper" class="btn btn-warning">Quay lại</a>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>

